.fm_rec {
    font-family:verdana, sans-serif;
    font-size:13px;
    font-style:italic;
    color:black;
    padding:10px;
    border: 1px solid transparent;
    background: LightYellow;
    margin-top:20px;
    margin-bottom:20px;
}